/Dual-ott.tex
/.gitignore
/cc-by.pdf
/formalization/Chu-space.agda
/formalization/Chu-space.agdai
/formalization/Haskell/ChuSpace.hs
/lipics/cc-by.pdf
/lipics/lipics-logo-bw.pdf
/lipics/lipics-manual.pdf
/lipics/lipics-sample-article.pdf
/lipics/lipics-sample-article.tex
/main-src-output.tex
/main.aux
/main.bbl
/main.blg
/main.log
/main.out
/main.vtc
/type-theory_inc.aux
/L-infr-cases.tex
/L-ott.tex
/L-to-BL-output.tex
/L-to-BL-outputI.tex
/L-to-BL-outputI.tex.backup
/L-to-BL-src.tex
/L.ott
/scripts/prepr_double_ott.sh
/pos-infr-cases.tex
/talks/iowa-logo.png
/talks/lmu.ott
/talks/ordering.v
/talks/ottlayout.sty
/talks/talk.aux
/talks/talk.log
/talks/talk.nav
/talks/talk.out
/talks/talk.snm
/talks/talk.toc
/notes/CABA/note.aux
/notes/CABA/note.log
/notes/CABA/note.out
code/*
*.aux
*.bbl
*.bl
*.blg
*.log
*.out
*-output.tex
*.spl
*-inc.tex
*.agdai